

.form-container {

    max-width: 500px; /* Ancho máximo del contenedor */
    margin-top: 50px auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
    text-align: center; /* Centrar el texto */
    background-color:  #7caacf;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }
 
    
.form-container1 {

    max-width: 500px; /* Ancho máximo del contenedor */
    margin-top: 50px auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
    text-align: center; /* Centrar el texto */
    background-color:  transparent;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }

    
    
    .btn-home {
        background-color: #aee4f1; /* Cambiar el color de fondo a verde claro */
        color: black;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;}
    
    
    .btn-home:hover {
        background-color: #86e0f7; /* Cambiar el color de fondo a verde claro al pararse encima */
        color: white; /* Cambiar el color del texto a negro al pararse encima */
    }

    .btn-descargar {
        background-color: #aee4f1;
    }

   /* Estilo para el body con la clase fondo-formularios */
.fondo-formularios {
    background: url('img/Fondo.jpg') center/cover no-repeat fixed;
    opacity: 0.9; /* Ajusta la opacidad según tus preferencias */
    text-align: center;
}
 


/* Estilo para superponer el fondo con opacidad */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo con transparencia */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */

}

/* Estilo para formulario */
.form-inline input {
    padding: 5px; /* Espaciado interno */
    margin-right: 90px; /* Margen derecho */
}




/* Estilos para los botones */

           
.btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.btn-group {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.btn-group input[type="radio"]{
    display: none;
}


.btn-nino {
    background-color: #007bff; /* Azul */
    color: #fff;
}

.btn-nina {
    background-color: #ff69b4; /* Rosa */
    color: #fff;
}

/* Estilo para el botón activo */
.btn-check:checked + label {
    background-color:#28a745;
    border: 2px solid #28a745; /* Borde verde cuando está activo */
}

/* Estilo para el input de fecha */
input[type="date"] {
    padding: 8px; /* Ajusta el espaciado interno */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Bordes redondeados */
    outline: none; /* Elimina el contorno al hacer clic */
    transition: border-color 0.2s ease; /* Transición suave para el borde */
}

/* Estilo cuando el input de fecha tiene foco */
input[type="date"]:focus {
    border-color: #007bff; /* Cambia el color del borde al tener foco */
}


.add-child-btn {
    margin-top: 10px; /* Espacio superior para el botón de agregar niño/a */
    background-color: transparent;
    border: none;
}

 /* Estilos para el texto dinámico */
 #bienvenida-text, #introduccion-text {
    animation-name: bounceInLeft; /* Nombre de la animación */
    animation-duration: 1s; /* Duración de la animación */
    animation-fill-mode: both; /* Mantener el estado final de la animación */
}

/* Animación de entrada desde la izquierda */
@keyframes bounceInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Estilos generales para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b65d8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 0 20px; /* Añadir padding al navbar */

}

/* Estilos para el logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    padding: 0 40px;
    margin-right: 10%; /* Separación del logo respecto a la lista de navegación */

}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


.foto-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
/* Estilos para el contenedor de la foto de perfil */
.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Cambiar el borde a un círculo */
    overflow: hidden; /* Ocultar cualquier contenido que se salga del círculo */
    background-color: #f8f9fa; /* Color de fondo para el contenedor */
    margin-right: 10px; /* Espaciado derecho (puedes ajustarlo según necesites) */
}

/* Estilos para la imagen de perfil */
.foto-profile {
    width: 100%; /* Asegurar que la imagen ocupe todo el contenedor */
    height: 100%; /* Asegurar que la imagen ocupe todo el contenedor */
    object-fit: cover; /* Escalar la imagen para cubrir todo el contenedor */
    border-radius: 50%;

}


/* Estilos para botón hamburguesa en PC */
.navbar-toggler {
    display: none;
    color: black; /* Cambiar el color del botón hamburguesa a negro */
    font-size: 24px;
    padding: 5px 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* Estilos para la lista de navegación en PC */
.navbar-nav {
    display: flex;
    align-items: center;
}


.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-link:hover {
    border-bottom: 2px solid #b0b0eb;
    color: white;
}

.nav-item.active .nav-link {
    color: #aabdfd;
    border-bottom: 2px solid transparent;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color:#86e0f7;
}

/* Estilos para los botones y las secciones */
.botones-secciones {
    display: flex;
    flex-direction: column; /* Mostrar botones en bloque vertical */
    gap: 10px; /* Espacio entre botones y secciones */
    
}

.btn-secciones {
    width: 25%; /* Ancho completo */
    background-color: #2aa6e4;
    color: white;
    
}

.btn-edades {
    background-color: #2aa6e4;
    color: white;
}

/* Estilo común para ambas gráficas */



  #grafica-progreso {
    width: 200px; /* Ancho de la gráfica */
    height: 200px; /* Altura de la gráfica */
    margin: 0 auto; /* Centrar la gráfica */
    border-radius: 50%; /* Forma circular */
    padding: 10px;
  }

  #grafica-progreso canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%; /* Asegurar forma circular */
  }

  #grafica-progreso .chartjs-size-monitor {
    display: none !important; /* Ocultar monitor de tamaño de Chart.js */
  }

  #grafica-progreso .chartjs-render-monitor {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%; /* Asegurar forma circular */
  }

  #grafica-progreso .porcentaje-progreso {
    position: relative;
    text-align: center;
    top: -50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #28a745; /* Color verde claro */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
  }

  .btn-group1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .btn-check {
    display: none;
  }

  .btn-completar {
    cursor: pointer;
  }

  

.seccion-form {
    display: none; /* Ocultar secciones por defecto */
    padding: 20px;
    border-radius: 5px;
}


.btn-group1 {
    display: inline-block;

}

.btn-group1 input[type="checkbox"]{
    display: none ;
}

.btn-completar{
    background-color: #28a745;
    color: white;
}


/* Estilo para el botón activo */
.btn-check:checked + label.btn-completar {
    color: black; /* Texto blanco cuando está activo */
    background-color: white; /* Cambiar color de fondo cuando está activo */
    border-color: #28a745;

}

.perfil-nino{
    background-color:#53a8bb ;
}



/* Estilos para el botón "Iniciar Sesión" y "Registrar" */
.btn-login
{
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}
.btn-registrar {
    background-color: white;
    color: green;
    border: 1px solid green;
    padding: 8px 16px;
    border-radius: 4px;
}

.btn-login:hover {
    background-color: white;
    color: #28a745;
    border-color: #28a745;
}

.btn-registrar:hover{
    background-color: #28a745;
    color: white;
    border-color: white;
}

/* Estilos para la barra de búsqueda */
.form-inline {
    display: flex;
    align-items: center;


}

.form-inline input {
    padding: 5px;
    margin-right: 10px;
}

.buscar-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.buscar-btn:hover {
    background-color: #1b00b3;
}





.llamado {
    color: white; /* Color del texto */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Bienvenida1.jpg') center/cover no-repeat fixed;
    opacity: rgb 0 0 0 / 0.5;  /* Ajusta la opacidad según tus preferencias */
    padding: 60px 0; /* Espaciado interno para la sección */ /* Ajusta el espacio superior para que la barra de navegación no tape la imagen */
    background-position: 10% 0 ;
  }


.llamado-container {
    max-width: 70%; /* Ancho máximo del contenedor (70% de la pantalla) */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: rgba(124, 170, 207, 0.9); /* Color de fondo con transparencia */
    border-radius: 5px;
}





.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Bienvenida2.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 100px 0;
  }
  
.hero h1, h2, h4 {
    text-align: justify;
}


  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600; /* Puedes ajustar el color según tu preferencia */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  }
  
  .cta-button:hover {
    background-color: #ff9900; /* Color de fondo al pasar el mouse */
  }
  
 


.beneficios{
    background-color: #53a8bb;
    color: white;
    max-width: 100%;
    background-position: 10% 0 ;
    padding: 10px;
    text-align: center;
}


.beneficios .col-md-3 img {
    max-width: 80%; /* Limita el ancho máximo de las imágenes */
    height: 50%; /* Mantiene la proporción de aspecto de las imágenes */
}



.beneficios h4 {
    margin-top: 20px; /* Espacio superior para los textos */
    margin-right: 20px;  
    margin-left: 20px;  
}

.llamado-container h1{
    
        margin-bottom: 20px; /* Espacio inferior para separar los elementos */
    
}
.llamado-container h3 {
    margin-bottom: 20px; /* Espacio inferior para separar los elementos */
    color: black;
}

.llamado-container a {
    margin-top: 20px; /* Espacio superior para el enlace */
}


/* Estilo para la sección de planes */
.planes{
    background: #53a8bb;
    opacity: rgb 0 0 0 / 0.5;  /* Ajusta la opacidad según tus preferencias */
    padding: 60px 0; /* Espaciado interno para la sección */ /* Ajusta el espacio superior para que la barra de navegación no tape la imagen */
    background-position: 10% 0 ;
    
}


  /* Estilo para la sección de testimonios */
.testimonios {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Bienvenida.jpg') center/cover no-repeat fixed;
    opacity: rgb 0 0 0 / 0.5;  /* Ajusta la opacidad según tus preferencias */
    padding: 10px 0 100px 0 ; /* Espaciado interno para la sección */ /* Ajusta el espacio superior para que la barra de navegación no tape la imagen */
    color: white;
}


 /* Estilos para las líneas indicadoras */
 .carousel-indicators li {
    background-color: #007bff; /* Color azul */
    border: 1px solid #007bff; /* Borde azul */
    width: 20px; /* Ancho de los puntos */
    height: 1px; /* Alto de los puntos */
}

/* Estilo para la paginación del carousel */
.carousel-indicators {
    bottom: -40px; /* Ajusta la posición de la paginación */
}
 


.mb-n5 {
    margin-bottom: -3rem; /* Puedes ajustar el valor según necesites */
}

.circle-progress {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    margin-top: 20px;
}

footer {
    position:relative ;
    bottom: 0;
    width: 100%;
    background-color: #3b65d8;
    padding: 10px;
    text-align: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.historia {
    color: black; /* Color del texto */
    background: url('img/Bienvenida.jpg') center/cover no-repeat fixed;
    opacity: rgb 0 0 0 / 0.5;  /* Ajusta la opacidad según tus preferencias */
  }

  .form-container2 {

    max-width: 900px; /* Ancho máximo del contenedor */
    margin-top: 50px auto; /* Centrar el contenedor horizontalmente */
    padding: 50px; /* Espaciado interno del contenedor */
    text-align: center; /* Centrar el texto */
    background-color:  white;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7; /* Ajusta la opacidad según tus preferencias */

    }

.funcionamiento {

        background-image: url('img/Bienvenida1.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin-top: 1%;
}
.descripcion {
    background-color: rgba(255, 255, 255, 0.8); /* Color blanco con opacidad 0.8 */
    max-width: 80%;
    margin-left: 150px;
    padding: 40px 0 0 0 ;
}
 .recursos, .metodologia, .acceso-chatbot, .evaluacion, .colaboracion, .interfaz-usuario {
    
    background-color: rgba(255, 255, 255, 0.8); /* Color blanco con opacidad 0.8 */
    max-width: 80%;
    margin-left: 150px;
    padding: 10px 0 0 0 ;
}


/* Estilos para la sección de Descripción General */
.descripcion img, .recursos img, 
.metodologia img, .acceso-chatbot img,
.evaluacion img,
.colaboracion img,
.interfaz-usuario img, .condiciones img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.foto-perfil img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}



.agregar-container {
    background-color:#007bff ; /* Estilos para el contenedor de la sección de Descripción General */
    padding: 20px;
    align-items: center;
}

.table-container {
    margin: auto; /* Centra el contenedor de la tabla */
    width: 80%; /* Ancho del contenedor de la tabla */
}

.historia h2, .historia h5, .bienvenida h1, .ayuda h1, .ayuda h3, .ayuda h4, 
.ayuda h5, .introduccion h3, .introduccion h4, .neurodivergencias h4, .condiciones h4 {
    padding-top: 1%;
    margin-bottom: 20px; /* Espacio inferior para separar del siguiente elemento */
  }
  .historia h5, .bienvenida h4, .ayuda h3, .ayuda h4, .ayuda h5, .introduccion h3, 
  .introduccion h4, .neurodivergencias h4, .condiciones h4 {
    
    text-align: justify;
}



.form-edades1 h3 {
    color: white;
    text-align: center;
}

.ayuda {
    color: black; /* Color del texto */
    background: url('img/Bienvenida3.jpg') center/cover no-repeat fixed;
    opacity: rgb 0 0 0 / 0.5;  /* Ajusta la opacidad según tus preferencias */
  }

 

.introduccion {
    color: black; /* Color del texto */
    background: url('img/Bienvenida4.jpg') center/cover no-repeat fixed; /* Fondo sin opacidad */
}



.neurodivergencias img {
    height: 50%;
    width: 50%;
    margin-left: 1%; 
}

.condiciones {
    background-color: #53a8bb;
    color: white;
}

.condiciones h3 {
    color: black;
}
.form-container3 {

    max-width: 900px; /* Ancho máximo del contenedor */
    margin-top: 50px auto; /* Centrar el contenedor horizontalmente */
    padding: 50px; /* Espaciado interno del contenedor */
    background-color:  white;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7; /* Ajusta la opacidad según tus preferencias */

    }

    .form-container4 {

        max-width: 900px; /* Ancho máximo del contenedor */
        margin-top: 50px auto; /* Centrar el contenedor horizontalmente */
        padding: 50px; /* Espaciado interno del contenedor */
        border-radius: 5px;

        }

        .form-container5{
            max-width: 1200px; /* Ancho máximo del contenedor */
            margin-top: 50px auto; /* Centrar el contenedor horizontalmente */
            padding: 50px; /* Espaciado interno del contenedor */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .desarrollo {
            display: none;
        }
        .hitosDesarrollo {
            display: none;
        }
        .form-check {
            margin: 10px 0;
        }
        .btn-completar {
            cursor: pointer;
        }
        canvas {
            max-width: 200px;
            max-height: 200px;
            margin: 10px 0;
        }
        .btn-desarrollo {
            margin-bottom: 10px;
        }

        .grafica {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        
        
        .form-edades, .terapias, .usuario-container {

            background-color:#53a8bb ; /* Estilos para el contenedor de la sección de Descripción General */
            align-items: center;
            padding: 50px 0; /* Ajusta el espaciado según sea necesario */
            color: white;
        } 

       
        .form-edades1 {
            background-color:#007bff ; /* Estilos para el contenedor de la sección de Descripción General */
            padding: 50px 0; /* Ajusta el espaciado según sea necesario */
            align-items: center;
        }
         
    .form-edades1 img, .desarrollo-motor img, .desarrollo-lenguaje img, .desarrollo-cognitivo img, .desarrollo-social img, .desarrollo-habilidades img{
        max-width: 80%; /* La imagen ocupará el 100% del contenedor */
        height: auto; /* La altura se ajustará automáticamente */
    }

   
        .linea {
            border-right: 1px solid white;

        }
        
        .linea1 {
            border-right: 1px solid black;
            margin-bottom: 20px; /* Ajusta el tamaño del margen inferior según tus necesidades */

        }
     
        .desarrollo-motor{
            padding: 50px 0;;
        }
        
/* Estilos base para el video */
.video-container iframe {
    width: 560px;
    height: 315px;
}

 
.main {
    text-align: center; /* Centra el texto */
    font-family: 'Roboto', sans-serif; /* Fuente del texto */
    padding: 40px 0 0 0; /* Dejar espacio en la parte superior y Quitar el padding inferior y laterales al main */


} 
.descripcion h5, .recursos h5, .metodologia h5, .acceso-chatbot h5,
.evaluacion h5, .colaboracion h5, .interfaz-usuario h5, .form-edades1 h5, .canciones-container h5, .actividades h5 {
    
    text-align: justify;    
}

.actividades {
    margin-top: 50px;
}
.pdf-container {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre cada PDF */
}

.pdf-preview {
    width: 100%; /* Ancho al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 300px; /* Ancho máximo para las imágenes previas */
}

.modal-body {
    text-align: justify;
}


.pautas, .desarrollo-motor, .desarrollo-habilidades {
    background-color: #53a8bb;
    color: white
}

.desarrollo-cognitivo {
    background-color: #007bff;
    color: white
}


.desarrollo-motor h5, .desarrollo-lenguaje h5, .desarrollo-habilidades h5, .desarrollo-cognitivo h5, .desarrollo-social h5 {
text-align: justify;
}

.desarrollo-motor h4, .desarrollo-lenguaje h4, .desarrollo-habilidades h4, .desarrollo-cognitivo h4, .desarrollo-social h4 {
    color: black;
}


/* chatbot*/

#chatbot-iframe-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;
    height: 500px;
    display: none; /* Oculto por defecto */
    z-index: 1000; /* Asegúrate de que esté sobrepuesto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white; /* Fondo blanco para el contenedor */
}
#chatbot-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
}


.medico-container {
    position: fixed; /* Coloca el contenedor del médico en una posición fija */
    bottom: 0;
    right: 0; /* Coloca el contenedor en la parte derecha */
    padding: 20px; /* Añade un poco de espacio alrededor del contenedor */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999; /* Asegura que el contenedor esté por encima de otros elementos */
}

.chatbot-buttons {
    margin-left: auto; /* Mueve los botones al extremo derecho del contenedor */
}

.chatbot-start-btn {
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 0;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    width: 120px;
    height: 90px;
    z-index: 1500;
}

.chatbot-close-btn, .iframe-close-btn {
    background: #99a3dd;
    color: black;
    font-size: 1.2rem;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1500;
    border-radius: 15px;
}

.chatbot-close-btn:hover,
.chatbot-start-btn:hover,
.iframe-close-btn:hover {
    color: white;
    background-color: #3f51b5;
}

.medico-img {
    width: 200px;
    height: 200px;
    margin-right: 70px;
}
.perfil-nino {
    padding: 50px 0; /* Ajusta el espaciado según sea necesario */
    height: 560px; /* Altura deseada, puedes ajustar este valor según tus necesidades */

}


.cta-button {
    background: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.cta-button:hover {
    background: #e64a19;
}


/* Estilos generales */

/* Media queries para tamaños de pantalla */
@media (max-width: 576px) {
    /* Estilos para pantallas pequeñas (móviles) */

/* Mostrar el botón hamburguesa en dispositivos móviles */
.navbar-toggler {
    display: block;
}
/* Animación para desplegar el menú hamburguesa */
@keyframes slideIn {
    0% {
        transform: translateX(100%); /* Desplaza el menú hacia la derecha al 100% */
        opacity: 0; /* Inicia con opacidad 0 */
    }
    100% {
        transform: translateX(0); /* Vuelve a la posición original (0) de manera gradual */
        opacity: 1; /* Opacidad completa al final */
    }
}


/* Estilos para la lista de navegación en dispositivos móviles */
.navbar-collapse {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%; /* Ajustar el ancho al 100% */
    background-color: #3b65d8;
    padding: 10px;
    z-index: 999;
    animation: slideIn 0.3s ease forwards; /* Aplica la animación al mostrar el menú */
}

.navbar-collapse.show {
    display: block;
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    width: 100%; /* Ancho del menú al 100% */
}

.navbar-nav .nav-item {
    display: block;
    margin: 10px 0;
    text-align: center;

}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.form-inline {
    display: flex; /* Cambiar el display del formulario a flex */
    align-items: center; /* Alinear los elementos verticalmente al centro */
    justify-content: space-between; /* Alinear los elementos horizontalmente con espacio entre ellos */
    width: 100%; /* Ajustar el ancho al 100% */
}

.form-inline .form-control {
    flex-grow: 1;
    margin-right: 10px;
    width: 70%;
}

.form-inline .btn {
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-right: 10px;
    width: auto; /* Establecer el ancho automático para el botón */
}

/* Estilos para los botones "Iniciar Sesión" y "Registrar" en pantallas medianas */
.nav-link, .btn-login, .btn-registrar {
    width: 100%; /* Establecer un ancho fijo para ambos botones */
    margin-right: 10px; /* Ajustar el margen derecho para separar los botones */
    padding: 2 10px; /* Añadir espacio interno de 10px a los botones */
}


.bienvenida h1, .bienvenida h4 {
    margin-left: 50px;
    margin-right: 50px;
    
  }

  .bienvenida h4 {
    text-align: justify; /* Justifica el texto dentro del h4 */
  }

.llamado-container {
    max-width: 90%; /* Ancho máximo del contenedor (70% de la pantalla) */
    padding: 20px; /* Espaciado interno del contenedor */
    
}

    /* Reducir el tamaño de las letras en las secciones */

    .bienvenida h1, .ayuda h1, .beneficios h1, .llamado h1, .planes h1, 
    .testimonios h1, .introduccion h1, .neurodivergencias h1, .condiciones h1,
    .form-edades h1, .form-edades1 h1, .canciones-container h1, .actividades h1, .terapias h1 {
        font-size: 1.5em;
    }
    
   
    
.llamado h3, .planes h3, .ayuda h3, .introduccion h3, .condiciones h3, .form-edades1 h3, .canciones-container h3, .descargas-pdfs h3{
    font-size: 1.3em;
}
.bienvenida h4, .beneficios h4, .ayuda h4, .introduccion h4, .neurodivergencias h4, .condiciones h4{
    font-size: 1.2em;
}

    .planes h5, .historia h5, .ayuda h5, .descripcion h5, .recursos h5, .metodologia h5, .acceso-chatbot h5, 
    .evaluacion h5, .colaboracion h5, .interfaz-usuario h5, .form-edades h5, .form-edades1 h5, .canciones-container h5, .terapias h5,
    .actividades h5 {
        font-size: 1.1em;
    }

    .historia h2, .introduccion h2, .descargas-pdfs h2, 
    .neurodivergencias h2, .condiciones h2, .ayuda h2,
    .form-edades1 h2, .descripcion h2, .recursos h2, .metodologia h2, .acceso-chatbot h2, .evaluacion h2, .colaboracion h2, .interfaz-usuario h2 {
        font-size: 1.4em;
    } 

     /* Estilo para el footer en pantallas pequeñas */
    footer {
        padding: 10px 20px; /* Ajustar el padding */
    }

    .main-funcionamiento {
    
        max-width: 100%;
        margin-left: 0px;
    }

  
    
  .container-condiciones {
    padding: 50px;
}
.form-container2 {
    padding: 30px;
}

.linea {
    border-right: none; /* Oculta el borde derecho en dispositivos móviles */

}
.video-container iframe {
    width: 100%;
    height: 200px; /* Altura ajustada para dispositivos móviles */
}

}







/* Media queries para tamaños de pantalla */
@media (min-width: 577px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas (tablets en modo horizontal) */

/* Mostrar el botón hamburguesa en dispositivos móviles */
.navbar-toggler {
    display: block;
}
/* Animación para desplegar el menú hamburguesa */
@keyframes slideIn {
    0% {
        transform: translateY(-100%); /* Desplaza el menú hacia arriba */
        opacity: 0; /* Inicia con opacidad 0 */
    }
    100% {
        transform: translateY(0); /* Vuelve a la posición original (0) de manera gradual */
        opacity: 1; /* Opacidad completa al final */
    }
}


/* Estilos para la lista de navegación en dispositivos móviles */
.navbar-collapse {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%; /* Ajustar el ancho al 100% */
    background-color: #aee4f1;
    padding: 10px;
    z-index: 999;
    animation: slideIn 0.3s ease forwards; /* Aplica la animación al mostrar el menú */
}

.navbar-collapse.show {
    display: block;
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    width: 100%; /* Ancho del menú al 100% */
}

.navbar-nav .nav-item {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.form-inline {
    display: flex; /* Cambiar el display del formulario a flex */
    align-items: center; /* Alinear los elementos verticalmente al centro */
    justify-content: space-between; /* Alinear los elementos horizontalmente con espacio entre ellos */
    width: 50%; /* Ajustar el ancho al 50% */
}

.form-inline .form-control {
    flex-grow: 1;
    margin-right: 10px;
    width: 70%;
}

.form-inline .btn {
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-right: 10px;
    width: auto; /* Establecer el ancho automático para el botón */
}

/* Estilos para los botones "Iniciar Sesión" y "Registrar" en pantallas medianas */
.nav-link, .btn-login, .btn-registrar {
    width: 100%; /* Establecer un ancho fijo para ambos botones */
    margin-right: 10px; /* Ajustar el margen derecho para separar los botones */
    padding: 2 10px; /* Añadir espacio interno de 10px a los botones */
}


/* Estilos para las líneas indicadoras */
.carousel-indicators li {
    background-color: #007bff; /* Color azul */
    border: 1px solid #007bff; /* Borde azul */
    width: 15px; /* Ancho de los puntos */
    height: 1px; /* Alto de los puntos */
}


.main-funcionamiento {
    
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}


.bienvenida  {
    margin-left: 0px;
    margin-right: 0px;
    
  }

  .bienvenida h4 {
    text-align: justify; /* Justifica el texto dentro del h4 */
    margin-left: 0px;
    margin-right: 0px;
  }


.beneficios .col-md-3 img {
    height: 30%; /* Mantiene la proporción de aspecto de las imágenes */

}






/* Estilos para la sección de Descripción General */
.condiciones img {
    max-width: 100%;

}

.container-condiciones {
    padding: 30px;
}


.llamado-container {
    max-width: 90%; /* Ancho máximo del contenedor (70% de la pantalla) */
    padding: 20px; /* Espaciado interno del contenedor */
  
}

.llamado-container .btn-registrar, .llamado-container .btn-login {
    
    width: 50%; /* Establecer un ancho fijo para ambos botones */
    margin-right: 10px; /* Ajustar el margen derecho para separar los botones */
    padding: 2 10px; /* Añadir espacio interno de 10px a los botones */
}

.descripcion h2, .descripcion h5, .metodologia h2, .metodologia h5, .evaluacion h2, .evaluacion h5, .interfaz-usuario h2, .interfaz-usuario h5 {
    margin-left: 20px;
    
  }

  .recursos h2, .recursos h5, .acceso-chatbot h2, .acceso-chatbot h5, .colaboracion h2, .colaboracion h5 {
      margin-right: 20px;
    
  }

  .video-container iframe {
    width: 100%; /* Ancho reducido para tabletas */
    height: 300px; /* Altura ajustada para tabletas */
}
}